.App{
  text-align: center;
  /* background-color: #f0f0f0; */
  color: #333;
  font-family: Arial, sans-serif; 
  padding: 20px 80px;
}
.heading{
  font-size: 36px;
  margin-top: 20px;
  margin:40px;
}
.Home{
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding:0 20px;
  
}
.Home-content{
  padding: 20px 0px;
   gap:100%;
   font-size: 20px;
}
.Home img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin:10px 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.Home img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.btn{
  border: 1px solid white;
  padding: 10px 20px;
  height: 50px;
  width: 150px;
  color: white !important;
  background-color: black;
  border-radius: 30px;
  
}
.button{
  display: block;
  justify-content: start;
  
}

.About-content{
  text-align: justify;
}
.education-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
.education-card {
  border:2px solid rgb(7, 7, 8);
  background: #ffffff;
  border-radius: 10px;
  padding: 1.2em;
  min-width: 260px;
  box-shadow: 0 4px 16px rgba(63, 87, 130, 0.05);
  transition: transform 0.15s;
}
.education-card:hover {
  transform: translateY(-6px) scale(1.025);
}

.heading {
  text-align: center;
  
  text-decoration: underline;
  text-underline-offset: 0.4em;
  text-decoration-color: #a2cbf3;
  text-decoration-thickness: 6px;
}

.skills-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 10px;

}
.skill-container:hover{
  transform: translateX(-4px) scale(1.025);
}
.skill-container{
  border:2px solid rgb(7, 7, 8);
  /* padding: 10px; */
  border-radius: 35px;
  width: 280px;
  text-align: start;
  box-shadow: 0 4px 8px rgba(0, 0,  0, 0.1); 
  font-size: 16px; 

}.skill-container h4{
  font-size: 16px !important;
  margin-bottom: 10px;
  text-align: center !important;
} 
.skill-container ul{
  list-style-type: none;
  align-items: left;
  padding-bottom: 12px;
}
.skill-container img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.project-list{
   display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 10px;
}
.project-item:hover{
  transform: translateY(-6px) scale(1.025);
}
.project-item{
  border:2px solid rgb(124, 120, 120);
  border-radius: 15px;
  width: 400px;
  text-align: start;
  box-shadow: 0 4px 8px rgba(0, 0,  0, 0.1); 
  font-size: 16px; 
  text-align: center;
  padding-bottom: 10px;
}
.project-item img {
  width: 350px;
  height: 280px;
  border:1px solid rgb(250, 248, 248);
  border-radius: 10%;
  margin:10px 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.project-item h4 {
  font-size: 28px;
  margin: 10px 0; 
}
.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  
}
.contact-info ul{
  display: flex;;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid #3c3a3a;
  border-radius: 20px;
  list-style-type: none;
  margin: 0;
  margin-bottom: 20px;
  color: #ffffff;
  justify-content: center;
  background-color: #000000;
} 
.contact-info li {
  display: flex;
  
  flex-wrap: wrap;
  align-items: center;
  font-size: 18px;
  margin: 0;
  gap: 0.5rem;
  text-align: center;
}
.contact-info a{
  text-decoration: none;
   color: #ffffff;

}
.about-project {
  text-align: justify;
  justify-content: center;
  border-radius: 20px;
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
}

.about-project h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-project p {
  font-size: 15px;
}

.about-project ul {
  list-style-type: disc;
  padding-left: 20px;
}
.about-project button {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  text-align: center;
}
.about-project button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(63, 87, 130, 0.5);
}

@media screen and (max-width: 600px) {
  .App{
    padding: 10px 20px;
  }
  .Home img {
    width: 250px;
    height: 250px;
  }
  .heading {
    padding: 0 30px;
  }
  .Home
  {
    display: block;
  }
  .Home-content{
    padding: 10px 0px;
    font-size: 15px;
  }
  .btn{
  border: 1px solid white;
  padding: 10px 20px;
  height: 50px;
  width: 130px;
  color: white !important;
  background-color: black;
  border-radius: 30px;
  
  }
  .button{
    display:flex;
  }
  .skills-content{
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
  }
  .skill-container{
  border:1px solid rgb(46, 47, 47);
  /* padding: 10px; */
  border-radius: 35px;
  width: 100%;
  text-align: start;
  box-shadow: 0 4px 8px rgba(52, 53, 53, 0.1); 
  font-size: 16px;
   
 }
 .project-item img {
  width: 330px  !important;
  height: 280px;
  border:1px solid rgb(250, 248, 248);
  border-radius: 10%;
  margin:10px 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  .skill-container h4{
    font-size: 25px !important;
    margin-bottom: 10px;
    text-align: center !important;
  } 
  .skill-container ul{
    list-style-type: none;
    text-align: center;
    padding-bottom: 12px;
    text-align: justify;
    padding-left: 100px;
  }
  .skill-container img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .education-container img{
    display: none;
  }
  .contact-info ul{
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
   .typewriter-container {
  width:  350px !important; 
  height: 80px;
  text-align: center;
  
 }
}

@media screen and (min-width: 1200px) {
  .Home {
    justify-content:center;
    padding: 0 50px;
    gap: 120px; 
  }
}

.typewriter-container {
  width:  480px; 
  height: 80px;
  text-align: center;
  color: rgb(0, 162, 255);
}

